* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: whitesmoke;
}

html {
    background-color: #414141;
}

ul.lvlnavbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex, block;
    width: 100%;
}
  
ul.lvlnavbar li {
   float: left;   
}
  
ul.lvlnavbar li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.lvlnavbar a:hover {
    background-color: #414141;
}

div.title {
    margin: 20px auto;
    text-align: center;
}

.title .container4h1 {
    border: whitesmoke, solid, 5px;
    width: fit-content;
    padding: 10px 20px;
    margin: 10px auto;
}

.title .container4p {
    width: fit-content;
    margin: 0 auto;
}

.title h1 {
    font-size: 50px
}

.title p {
    margin-top: 20px;
}